*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.dashboard-container{
  width:500px;
}
.dashboard {
  list-style: none;

}
.dashboard li{
  float: left;
}
.dashboard li button{

  width:50px;
  height:50px;
}
